
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

<h1>New Product</h1>
<%= render 'form', product: @product %>


<div class="container">
  <div class="row">
    <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>
        <div class="col">
          <div class="card">
            <% if product.image.attached? %>
              <p>
              <strong>Image:</strong>
              <br>
              <%= image_tag product.image.variant(resize: '200x200'), class: 'card-img-top' %>

              </p>
            <% end %>
    
            <div class="card-body">
              <h5> <%= product.name %> </h>
              <p> <%= product.price %> </p>
              <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn btn-success', method: :post  %>
              <%= link_to "Borrar producto", product_path(product), class: 'btn btn-danger', method: :delete  %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px;"> </div>
    <% end %>
  </div>
</div>
